{% comment %} {% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<section>
    <h1>All Packages</h1>
</section>

<section>
    {% for package in object_list %}
    <div>
        <a href="{% url 'package_detail' package.id %}">
            <div>
                <h2>{{ package.name }}</h2>
                <p>{{ package.description }}</p>
                <p>Price: ${{ package.price }}</p>
                <p>Destinations:
                    {% for destination in package.destinations.all %}
                    {{ destination.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        </a>
    </div>
    {% endfor %}
</section>
{% endblock %} {% endcomment %}