{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} <link rel="stylesheet" href="{% static 'css/base.css' %}" /> {% endcomment %}
    <title>Travel Agency</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
        <a href="{% url 'home' %}">
            <h1>Travel Agency</h1>
        </a>
      </div>
      <nav>
        <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url 'home' %}">All Packages</a></li>
            {% comment %} <li><a href="{% url 'booking_create' %}">Book your Journey</a></li> {% endcomment %}
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_superuser %}
                <li>
                    <a href="{% url 'manage_bookings' %}">
                        Pending Bookings 
                        {% if pending_count %}
                        <span class="badge badge-warning">{{ pending_count }}</span>
                        {% endif %}
                    </a>
                </li>
            {% endif %}
            <li>
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <button type="submit">Log out</button>
                </form>

            </li>
          {% else %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>